@font-face {
    font-family: 'Rift';
    src: url('./Rift Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rift';
    src: url('./Rift\ Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rift';
    src: url('./Rift\ Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rift';
    src: url('./Rift\ Demi.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Rift';
    src: url('./Rift\ Bold.otf');
    font-weight: 700;
    font-style: normal;
}